@charset "utf-8";

/* RESET */
:root {--color-point:#E61518;--color-white:#ffffff;--color-gray1:#f7f7f7;--color-gray2:#eeeeee;--color-gray3:#e0e0e0;--color-gray4:#b2b2b2;--color-gray5:#6b6b6b;--color-default:#333333;--color-black:#000000}
html,body,button,dl,dt,dd,div,form,fieldset,legend,h1,h2,h3,h4,h5,h6,input,select,textarea,ul,ol,li,p,pre,table,td,th,caption,a {margin:0;padding:0}
html {font-size:13px;font-size-adjust:none;-ms-text-size-adjust:none;-webkit-text-size-adjust:none}
body {min-width:320px;margin:0;padding:0;color:var(--color-default);font-weight:300;font-family:Pretendard,apple-system,'Apple SD Gothic Neo','맑은 고딕',sans-serif;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;letter-spacing:-0.4px}
h1,h2,h3,h4,h5{font-weight:700;font-size:1.6rem}
legend {display:block;position:absolute;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px}
input,textarea,select {border:1px solid var(--color-gray3);border-radius:0;font-size:14px;font-family:Pretendard,'Apple SD Gothic Neo','맑은 고딕',sans-serif;vertical-align:top;box-sizing:border-box}
textarea {width:100%;border:0;border-radius:0;font-size:14px;resize:none}
select {-webkit-appearance:none;-moz-appearance:none;appearance:none}
button {border:0;background:none;font-weight:400;font-family:Pretendard,apple-system,'Apple SD Gothic Neo','맑은 고딕',sans-serif;color:var(--color-default)}
ol,ul {list-style:none}
a {color:var(--color-default);text-decoration:none;vertical-align:top}
img {max-width:100%}
i, em {font-style:normal}
table {border-collapse:collapse;border-spacing:0;width:100%}
caption {display:block;position:absolute;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px}
figure, figcaption {position:relative;margin:0;padding:0}

/* 숨김 텍스트 */
.blind {display:block;position:absolute;overflow:hidden;clip:rect(0 0 0 0);width:1px;height:1px}

/*
 ** dialog
 */
.dialog {opacity:0;visibility:hidden;position:fixed;top:0;left:0;width:100%;height:100%;overscroll-behavior:contain;transition-delay:.3s;z-index:10}
.dialog::before {content:"";display:block;opacity:0;visibility:hidden;position:absolute;top:0;left:0;right:0;width:100%;max-width:640px;height:100%;margin:0 auto;background-color:rgba(0,0,0,.4);transition:all .2s}
.dialog_inner {position:absolute;bottom:0;left:0;right:0;transform:translate3D(0, 100%, 0);width:100%;max-width:640px;margin:0 auto;border-radius:20px 20px 0 0;background-color:var(--color-white);box-shadow:3px 0px 12px rgba(0,0,0,.08);transition:all .2s ease-in-out}
.dialog_header {position:relative}
.dialog_header .dialog_close {display:flex;align-items:center;justify-content:center;width:100%;height:48px}
.dialog_header .dialog_close::before {content:"";display:block;width:100%;height:100%;background:url(../images/ico_arr_down_36.png) no-repeat center/18px auto}
.dialog_title {display:block;padding:7px 15px 14px 15px;font-weight:700;font-size:16px}
.dialog_title.center {padding:0 15px 16px 15px;text-align:center}
.dialog_body:not(.no_padding) {padding:0 15px;box-sizing:border-box}
.dialog_footer {display:flex;align-items:center;justify-content:center;column-gap:8px;padding:10px 15px;border-top:1px solid #f0f0f0;box-sizing:border-box}
.dialog_footer_btn {flex:1;display:flex;align-items:center;justify-content:center;column-gap:7px;height:46px;border-radius:25px;font-size:14px}
.dialog_footer_btn-type1 {border:1px solid var(--color-default)}
.dialog_footer_btn-type2 {background-color:var(--color-default);color:var(--color-white)}
.dialog_footer_btn:disabled {background-color:var(--color-gray4)}
.dialog.open {opacity:1;visibility:visible;transition:all .3s}
.dialog.open::before {opacity:1;visibility:visible}
.dialog.open .dialog_inner {transition-delay: .1s;transform: translate3D(0, 0%, 0)}
/* dialog::공유하기 */
.dialogSample .dialog_title {padding-left:25px;padding-right:25px}
.dialogSample .dialog_body {padding:0 25px 40px 25px}
.dialogSample_sns {display:flex;align-items:center;justify-content:space-around;padding:20px 0 0 0;border-top:1px solid var(--color-gray3);box-sizing:border-box}
.dialogSample_sns_item {flex:1;white-space:nowrap}
.dialogSample_sns_item::before {content:"";display:block;overflow:hidden;width:54px;margin:0 auto 7px auto;padding-top:54px;border-radius:50%;background:no-repeat center/100% auto}
.dialogSample_sns_item-kakao::before {background-image:url(../images/ico_share-kakao.jpg)}
.dialogSample_sns_item-facebook::before {background-image:url(../images/ico_share-facebook.jpg)}
.dialogSample_sns_item-copy::before {background-image:url(../images/ico_share-copy.jpg)}
/*
 ** popup
 */
.popup {display:none;position:fixed;top:0;left:0;right:0;width:100%;max-width:640px;height:100%;margin:0 auto;background:rgba(0,0,0,.4);z-index:10;padding-bottom:env(safe-area-inset-bottom)}
.popup_inner {position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);width:calc(100% - 36px);max-width:350px;padding-top:20px;background-color:var(--color-white);border-radius:8px;box-sizing:border-box}
.popup_inner > .popup_close {position:absolute;top:10px;right:10px;width:32px;height:32px;background:url(../images/ico_cross_32.png) no-repeat center/16px auto}
.popup_header {position:relative;height:48px;border-radius:4px 4px 0 0;background-color:var(--color-gray1)}
.popup_prev {position:absolute;top:0;left:0;width:56px;height:100%;background:url(../images/ico_prev_96.png) no-repeat center/24px auto}
.popup_title {display:flex;align-items:center;height:100%;padding:0 60px 0 20px;font-weight:700;font-size:16px;letter-spacing:-0.8px;box-sizing:border-box}
.popup_title .brand {display:flex;align-items:center;column-gap:8px}
.popup_body {overflow-y:auto;max-height:70dvh;margin-top:14px;padding:0 20px 20px 20px;border-radius:0 0 4px 4px;line-height:1.4;overscroll-behavior:contain;box-sizing:border-box}
.popup_subtitle {font-weight:600;font-size:14px;word-break:keep-all}
.popup_subtitle:has( + *) {margin-bottom:8px}
.popup_text {display:flex;font-weight:700;font-size:15px;word-break:keep-all}
.popup_footer {display:flex;align-items:center;justify-content:center;border-top:1px solid var(--color-gray3)}
.popup_footer_btn {flex:1;display:flex;align-items:center;justify-content:center;min-width:calc((100% - 12px)/3);height:42px;padding:0 10px;font-weight:500;font-size:13px}
.popup_footer_btn + .popup_footer_btn {border-left:1px solid var(--color-gray3)}
/* 팝업::풀사이즈 공통 */
.popFull {display:none;position:fixed;top:0;left:0;right:0;width:100%;max-width:640px;height:100%;margin:0 auto;/* background:rgba(0,0,0,.4); */z-index:10;padding-bottom:env(safe-area-inset-bottom)}
.popFull_inner {overflow:hidden;position:fixed;top:0;left:0;right:0;width:100%;max-width:640px;margin:0 auto;height:100%;border-radius:0;background-color:var(--color-white)}
.popFull_header {position:relative;height:50px;border-bottom:1px solid var(--color-gray3);background-color:var(--color-white);box-sizing:border-box}
.popFull_header > .popup_close {position:absolute;top:0;right:0;width:56px;height:100%;background:url(../images/ico_cross_32.png) no-repeat center/16px auto}
.popFull_title {display:flex;align-items:center;justify-content:center;height:100%;font-weight:700;font-size:16px;letter-spacing:-0.8px;text-align:center}
.popFull_body {overflow-y:auto;display:flex;flex-direction:column;height:calc(100dvh - 50px);padding:20px 16px;overscroll-behavior:contain;box-sizing:border-box}
.popFull:has(.popFull_footer) .popFull_body {height:calc(100dvh - 108px)}
.popFull_footer {display:flex;column-gap:8px;margin-top:auto;padding:10px 16px;box-sizing:border-box}
.popFull_footer_btn {display:flex;align-items:center;justify-content:center;width:100%;height:38px;border-radius:4px;background-color:var(--color-gray3);font-weight:500;font-size:14px}
@media screen and (max-width:640px) {
    body:has(.popup[style='display: block;']) {overflow:hidden}
    body:has(.popFull[style='display: block;']) {overflow:hidden}
}

/*
 ** snack
 */
.snack {opacity:0;display:flex;align-items:center;position:fixed;top:10px;left:50%;transform:translateX(-50%);width:calc(100% - 36px);max-width:350px;padding:10px 20px;border-radius:8px;background:rgba(255,255,255,.9);box-shadow:0px 3px 15px #00000029;font-size:12px;animation:snack 2.5s forwards cubic-bezier(0, 0.28, 0.3, 1.05);z-index:10;box-sizing:border-box}
.snack_text {flex:1;display:flex;flex-direction:column;row-gap:2px;position:relative;width:100%;font-size:14px;font-weight:500;line-height:16px;box-sizing:border-box}
.snack_text span {display:block}
.snack_close {flex-shrink:0;width:24px;height:30px;margin-left:auto;background:url(../images/ico_cross_32.png) no-repeat center right/12px auto}
@keyframes snack{
    0%,100%{opacity:0;top:10px}
    5%,92%{opacity:1;top:30px;z-index:11}
}

.wrap {display:flex;align-items:center;justify-content:center;position:relative;height:100dvh;background-color:#f0ebe2}
.wrap > img {width:100%}

.tree {position:relative}
.ornament_btn {position:absolute;left:50%;/* background-color:rgba(255,0,0,0.3) */animation:onm1 1.4s forwards infinite ease-in}
.ornament_btn_1 {top:60vw;width:6.3vw;margin-left:6vw}
.ornament_btn_2 {top:87.2vw;width:4vw;margin-left:-13vw;animation-name:onm2;animation-delay:.5s}
.ornament_btn_3 {top:112.3vw;width:12.1vw;margin-left:4.4vw;animation-name:onm3;animation-delay:.3s}
@keyframes onm1 {
    0%,100% {transform:scale(1)}
    50% {transform:scale(1.2)}
}
@keyframes onm2 {
    0%,100% {transform:scale(1)}
    50% {transform:scale(1.6)}
}
@keyframes onm3 {
    0%,100% {transform:scale(1)}
    50% {transform:scale(1.15)}
}